@page
@model RazorPages.Pages.NotFoundModel
@{
}
<h4>The resource you are trying to get is not found</h4>
<a asp-page="/Index" style="width:auto;" class="btn btn-primary">Click here to get back to Index</a>